@{
    ViewData["Title"] = "User Management";
}

<div class="text-center">
    <h1 class="display-4">User Management</h1>
</div>

@if(Model != null && Model?.Count > 0)
{
    <table class="table">
        <thead>
            <tr>
                <th>Username</th>
                <th>Email</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var user in Model)
            {
                <tr>
                    <td>@user.Username</td>
                    <td>@user.Email</td>
                    <td>
                        <a asp-action="Edit" asp-controller="User" asp-route-id="@user.UserID">Edit</a> |
                        <a asp-action="Delete" asp-controller="User" asp-route-id="@user.UserID">Delete</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
}
else
{
    <div class="text-center">
        <p>No users found.</p>
    </div>
}

<a asp-action="Create">Create New User</a>