@model UserViewModel
@{
    ViewData["Title"] = "User Edit Page";
}

<!-- webform.html -->
<form asp-action="Create" method="post" class="form">
    <div class="form-group">
        <label asp-for="Username"></label>
        <input asp-for="Username" class="form-control" value="@Model.Username" />
        <span asp-validation-for="Username" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Email"></label>
        <input asp-for="Email" class="form-control" value="@Model.Email" />
        <span asp-validation-for="Email" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Password"></label>
        <input asp-for="Password" type="password" class="form-control" />
        <span asp-validation-for="Password" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="ConfrimPassword"></label>
        <input asp-for="ConfrimPassword" type="password" class="form-control" />
        <span asp-validation-for="ConfrimPassword" class="text-danger"></span>
    </div>
    <div class="form-group">
        <div class="form-check">
            <input type="checkbox" asp-for="isAdmin" class="form-check-input" value="@Model.isAdmin" />
            <label class="form-check-label" asp-for="isAdmin"></label>
        </div>
        <span asp-validation-for="isAdmin" class="text-danger"></span>
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
</form>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}