@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>

@if (User.Identity.IsAuthenticated)
{
    <p>Welcome, @User.Identity.Name!</p>
    <form asp-action="Logout" asp-controller="User" method="post">
        <button type="submit" class="btn btn-primary">Logout</button>
    </form>
}
else
{
    <a asp-action="Login" asp-controller="User">Login</a>
}
